<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/signup/signup.css" />
    <title>회원가입</title>
  </head>
  <body>
    <p class="title">Talk Talk Playground</p>

    <form id="signupForm">
      <text class="text2">Profile Image</text>
      <text class="helpertext" id="profileHelpingText"
        >* 프로필 이미지를 추가해주세요.</text
      >
      <div class="setCenter">
        <div class="upload-button" id="uploadButton">
          <span>+</span>
        </div>
      </div>

      <input
        type="file"
        id="fileInput"
        accept="image/*"
        style="display: none"
      />

      <text class="text2" id="email">Email</text>
      <input
        id="input-email"
        type="text"
        placeholder="이메일을 입력하세요"
        size="40"
      />
      <text class="helpertext" id="emailHelper">* 이메일을 입력해주세요</text>

      <text class="text2" id="pw">Password</text>
      <input
        id="input-pw"
        type="password"
        placeholder="비밀번호를 입력하세요"
        size="40"
      />
      <text class="helpertext" id="passwordHelper"
        >* 비밀번호를 입력해주세요</text
      >
      <text class="text2" id="pwcheck">Confirm</text>
      <input
        id="confirm-pw"
        type="password"
        placeholder="비밀번호를 한번 더 입력하세요"
        size="40"
      />
      <text class="helpertext" id="confirmPasswordHelper"
        >* 비밀번호를 한번더 입력해주세요</text
      >
      <text class="text2" id="nickname">Nickname</text>
      <input
        id="input-nickname"
        type="text"
        placeholder="닉네임을 입력하세요"
        size="40"
      />
      <text class="helpertext" id="nicknameHelper"
        >* 닉네임을 입력해주세요</text
      >

      <button id="signupButton" disabled>회원가입</button>
    </form>
    <a class="login" href="/">로그인하러 가기</a>

    <script src="/signup/signup.js"></script>
  </body>
</html>
