@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  background: linear-gradient(to right, #81d4fa 0%, #a5d6a7 50%, #81d4fa 100%);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: #2e7d32;
  margin-bottom: 20px;
  text-align: center;
}

#signupForm {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.setCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text2 {
  height: 18px;
  top: 340px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: left;
  color: rgb(36, 33, 33);
}

.upload-button {
  width: 149px;
  height: 149px;
  left: 50%;
  opacity: 0.6;
  border-radius: 50%;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#fileInput {
  display: none;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 1170px;
}

#signupForm input {
  width: 355px;
  height: 33px;
  border-radius: 10px;
  border: 2px solid blue;
  padding-left: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.helpertext {
  font-size: 12px;
  width: 150x;
  height: 15px;
  gap: 0px;
  opacity: 0px;
  color: #ff0000;
  margin-bottom: 5px;
}

.input2 {
  width: 355px;
  height: 33px;
  top: 574px;
  left: 782px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#signupButton {
  display: flex;
  width: 355px;
  height: 33px;
  border-radius: 10px;
  background: #ffa500;
  color: #ffffff;
  line-height: 33px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.signup {
  width: 49px;
  height: 17px;
  top: 694px;
  left: 935px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  text-decoration-line: none;
  color: black;
}

.go-back {
  top: 36px;
  left: 700px;
  width: 10.93px;
  height: 18.89px;
  background-color: #ffffff;
  border: none;
  font-size: 24px;
}

#profileHelpingText {
  top: 360px;
  left: 784px;
}

#emailHelper {
  top: 610px;
  left: 784px;
}

#passwordHelper {
  top: 695px;
  left: 784px;
}

#confirmPasswordHelper {
  top: 777px;
  left: 783px;
}

#nicknameHelper {
  top: 864px;
  left: 783px;
}

#email {
  width: 47px;
  height: 18px;
  top: 540px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: left;
}

#input-email {
  width: 355px;
  height: 33px;
  top: 566px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#pw {
  width: 60px;
  height: 18px;
  top: 630px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
}

#input-pw {
  width: 355px;
  height: 33px;
  top: 653px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#pwcheck {
  width: 90px;
  height: 18px;
  top: 716px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
}

#confirm-pw {
  width: 355px;
  height: 33px;
  top: 737px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#nickname {
  top: 800px;
  left: 783px;
}

#input-nickname {
  width: 355px;
  height: 33px;
  top: 822px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.login {
  display: inline-block;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #2e7d32;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
