<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/login/login.css" />
    <title>로그인</title>
  </head>
  <body>
    <div id="loginContainer">
      <p class="title">Talk Talk Playground</p>
      <form id="loginForm">
        <input
          id="username"
          type="text"
          placeholder="이메일을 입력하세요"
          size="40"
        />
        <input
          id="password"
          type="password"
          placeholder="비밀번호를 입력하세요"
          size="40"
        />
        <text id="helpingText"></text>
        <button id="submitLogin" type="submit">로그인</button>
      </form>
      <a class="signup" href="/users">회원가입</a>
    </div>

    <script src="/login/login.js"></script>
  </body>
</html>
